:root{
  --blue: #003f88;
  --light-blue: #0077b6;
  --gray: #6c757d;
}

.container * {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

.container{
  padding: 15px 70px;
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.btn{
  font-size: 16px;
  font-weight: 600;
  border: none;
  max-width: 225px;
  background-color: transparent;
  color: var(--gray);
}

.buttons{
  display: flex;
  gap: 50px;
  margin-top: 15px;
}

.buttons button:focus{
  color: var(--blue);
  font-weight: 900;
}

.buttons button:hover, h2:hover{
  cursor: pointer;
}

.icon{
  text-align: center;
}

.title{
  font-size: 30px;
  color: var(--light-blue);
}

.title::first-letter{
  font-size: 40px;
  color: var(--blue);
}

.line {
  background: linear-gradient(to right, #023e8a, #0077b6, #0096c7, #00b4d8);
  width: 95%;
  height: 2px;
  margin: 20px auto
}
